#f{
    margin: 10px 50px;
}
#s{
    margin: 10px 50px;
}
#textBlock {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    color: #eff5ff;
    width: 100px;
    height: 100px;
    margin: 50px 50px;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}